<!-- Card -->
<div class="profile-header">
  <div class="overlay"></div>
  <div class="profile-main">
    <div class="card card-profile ">

      <!-- Avatar -->
      <div class="avatar card-avatar z-depth-1-half mb-4">
        <img src="https://xrm.conscensia.com/Organization/User/Avatar/dap" alt="First sample avatar image">
      </div>

      <div class="card-body pt-0 mt-0">

        <!-- Name -->
        <h3 class="mb-3 font-weight-bold"><strong>PRO GTN/T-DOC-development</strong></h3>
        <h6 class="font-weight-bold cyan-text mb-4">Dariya Pushynska (dap)</h6>

        <p class="mt-4 text-muted">

        </p>
        <h4 class="text-gray">Status: <span class="text-success">Active</span></h4>

        <div class="text-center"><a href="#" class="btn btn-primary">Edit Profile</a></div>

        <!--               
                      <p></p>
              
                      <a class="btn btn-info btn-rounded waves-effect waves-light"> Edit</a> -->

      </div>

    </div>
    <!-- Card -->
  </div>
</div>