{% extends  'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<div class="main-content">
  <div class="container-fluid">

    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
        <div class="right">
          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
        </div>
      </div>
      <div class="panel-body no-padding" style="display: block;">


        <div class="panel-footer">


          <div class="row">
            {% if filter %}
            <form action="" method="get" class="form form-inline">
              {% bootstrap_form filter.form layout='inline' %}
              {% bootstrap_button 'filter' %}
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>



    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
        <p class="panel-subtitle">
          <b> <a href="" class="selectAll  bg-secondary text-success"> </a> </b>
          <b> <a href="" class="clearSelected  bg-secondary text-danger"> </a> </b>
        </p>
      </div>
      <div class="panel-body">

        <div class="card-body">
          <div id="form_card" class="card-panel col s12">
            <form method="POST" action="{% url 'equipment_action_url' %}">
              <div class="float-lg-left  col-md-10">
                <div class=" col-md-2">
                  <select class="form-control" name="action" id="change_select">
                    <option value="">----------</option>
                    <option value="print_qrcode">Preint QR-Code</option>
                    <option value="delete">Delete</option>
                  </select>

                </div>
                <input class="btn btn-primary" id="submit_select" type="submit" value="Применить">
              </div>
              <br>
              {% csrf_token %}

              {% render_table table %}
            </form>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static '/js/quipment/checkBox_select_row.js' %}"></script>
{% endblock %}